* {
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
  text-transform: capitalize;
  background-color: #282c34;
}

.calc {
  width: 40%;
  padding: 10rem;

  margin: 20% auto;
  /* align-items: center; */
  color: white;
}

.btn {
  background-color: black;
  color: white;
  width: 35px;
  border: none;
  padding: 0.25rem;
  margin: 20px 5px;
}
